/**
 * Comments
 * ============================ */

.comments-title {
    margin-bottom: 1.217391304em;
}
.comments-title, .comment-reply-title {
    font-size: 23px;
    font-size: 1.4375rem;
    font-weight: 700;
    line-height: 1.3125;
    padding-top: 1.217391304em;
}
.comment-list {

    &, & .children {

        @include unstyled-list;

    }

    .children > li {

        padding-left: ms(0);

        @include grid-media( $laptop-up ) {

            padding-left: ms(2);

        }

    }

}

.comment-list article, 
.comment-list .pingback, 
.comment-list .trackback {

    padding: ms(2) 0;

}

.site .avatar {
    border-radius: 50%;
}

.comment-author .avatar,
.author .avatar {

    float: left;
    height: 28px;
    margin-right: 0.875em;
    position: relative;
    width: 28px;

    @include grid-media( $laptop-up ) {

        height: 42px;
        position: relative;
        top: 0.25em;
        width: 42px;

    }

}

.comment-metadata {

    margin-bottom: ms(2);

}

.comment-metadata,
.pingback .edit-link {

    @include subheading;

    &, & a {

    }

}

.says {

    @include screen-reader-text;

}
