/**
 * Pagination
 * ============================ */

.pagination .page-numbers {

    li {

        display: inline-block;

        .page-numbers {

            border-left-width: 0;
            display: inline-block;
            padding: ms(-4) ms(-1);
            text-transform: uppercase;
            font-size: ms(-1);

            &:not(.dots) {

                &:hover,
                &:focus {

                }

            }

            &.current {


                &:hover,
                &:focus {

                }

            }

        }

    }

}