/**
 * Site Social
 * ============================ */

.site-social {

    ul {

        @include unstyled-list( true );

        text-align: center;

        @include grid-media( $laptop-up ) {

            text-align: right;

        }

    }

    a {

        display: block;
        padding: ms(-1);

    }

}