/**
 * Site Branding
 * ============================ */

.site-branding {

    display: inline-block;
    vertical-align: top;
    text-align: center;

    z-index: z( $z-elements, overlay );

    a {

        display: block;
        margin: 0 auto;

    }

    svg {
        display: block;
        width: 100px;
        height: 100%;
    }

}

@include grid-media( $tablet-landscape-up ) {


    .site-branding {

        svg {

        }

    }

}