/**
 * Site Terms
 * ============================ */

.site-copyright {

    @include unstyled-list( $inline: true );
    @include subheading;

    text-align: center;

    @include grid-media( $laptop-up ) {

        text-align: left;

    }

    font-size: 90%;

    li:not(:last-of-type) {
        
        &:after {

            content: '|';
            font-weight: bold;
            padding: 0 ms(0)/4;

        }

    }

    li:last-of-type {

        margin-left: -3px;

    }

}