/**
 * Main Navigation
 * ============================ */

.navigation--main {

    z-index: z( $z-elements, menus );

    ul {

        @include unstyled-list;

    }

    li {

    }

    a {

    }

    & > .menu > li:hover > a,
    & > .menu > li.focus > a {

    }

}