@charset "UTF-8";
/*!
Theme Name:     Espresso
Theme URI:      http://inkandwater.co.uk
Author:         Ink & Water LTD
Author URI:     http://inkandwater.co.uk
Description:    Espresso is a lean parent theme using bourbon, neat and modular scale.
Version:        3.2.0
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    espresso
Tags:           One Column, Two Columns, Right Sidebar, Flexible Header, Accessibility Ready, Custom Colours, Custom Header, Custom Menu, Custom Logo, Editor Style, Featured Images, Footer Widgets, Post Formats, RTL Language Support, Sticky Post, Theme Options, Threaded Comments, Translation Ready
*/
/**!
 * Vendor
 * ================================ */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Grid Settings
 * ============================ */
/**!
 * Authored
 * ================================ */
/**
 * Authored Functions
 * ============================ */
/**
 * Z-index
 *
 * Takes the list of layers (see: variables ) and
 * returns the index of the named element. Logs a 
 * warning if there's no such named element in the list.
 * 
 */
/**
 * Color
 * 
 * @param  $color Named colour in the palette (e.g Blue).
 * @param  $tone  E.g. light, dark, medium etc.
 * @return $tone  The Hex/HSL value of the selected tone
 */
/**
 * Variables
 * ============================ */
/**
 * Authored Mixins
 * ============================ */
/**
 * Accesibility
 * ============================ */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/**
 * Media
 * ============================ */
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.svg-defs svg {
  visibility: hidden;
  position: absolute;
}

.responsive-embed,
.wp-block-embed {
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  position: relative;
}

.responsive-embed.wp-embed-aspect-21-9,
.wp-block-embed.wp-embed-aspect-21-9 {
  padding-bottom: 42.85%;
}

.responsive-embed.wp-embed-aspect-18-9,
.wp-block-embed.wp-embed-aspect-18-9 {
  padding-bottom: 50%;
}

.responsive-embed.wp-embed-aspect-16-9,
.wp-block-embed.wp-embed-aspect-16-9 {
  padding-bottom: 56.25%;
}

.responsive-embed.wp-embed-aspect-4-3,
.wp-block-embed.wp-embed-aspect-4-3 {
  padding-bottom: 75%;
}

.responsive-embed.wp-embed-aspect-1-1,
.wp-block-embed.wp-embed-aspect-1-1 {
  padding-bottom: 100%;
}

.responsive-embed.wp-embed-aspect-9-6,
.wp-block-embed.wp-embed-aspect-9-6 {
  padding-bottom: 66.66%;
}

.responsive-embed.wp-embed-aspect-1-2,
.wp-block-embed.wp-embed-aspect-1-2 {
  padding-bottom: 200%;
}

.responsive-embed object,
.responsive-embed embed,
.responsive-embed video,
.responsive-embed iframe,
.wp-block-embed object,
.wp-block-embed embed,
.wp-block-embed video,
.wp-block-embed iframe {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

/**
 * WordPress Image/Caption stuff
 */
figure {
  max-width: 100%;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.alignleft,
.alignright,
.aligncenter,
.alignnone {
  float: none;
  display: block;
  margin: 0 auto 1.61803rem;
}

@media only screen and (min-width: 600px) {
  .alignleft {
    float: left;
    margin: 0.47746rem 1.61803rem 1.61803rem 0;
  }
  .alignleft {
    float: left;
    margin: 0.47746rem 1.61803rem 1.61803rem 0;
  }
  .alignright {
    float: right;
    margin: 0.47746rem 0 1.61803rem 1.61803rem;
  }
}

.wp-caption {
  margin-bottom: 1.61803rem;
  max-width: 100%;
}

.wp-caption .wp-caption-text {
  font-size: 0.77254rem;
  font-style: italic;
  line-height: 1rem;
  padding-top: 0.61803rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.61803rem;
}

/**
 * Typography
 * ============================ */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, fieldset {
  margin: 0;
  padding: 0;
}

body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

::-moz-selection {
  background: #bfbfbf;
  color: white;
}

::selection {
  background: #bfbfbf;
  color: white;
}

/**
 * Body font styles
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.618;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, .mega {
  margin-top: 0;
  margin-bottom: 0.77254rem;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

b,
strong {
  font-weight: 700;
}

/**
 * Font Sizing
 */
body {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 1rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h3, .h3 {
  font-size: 1.61803rem;
}

h2, .h2 {
  font-size: 2.02254rem;
}

h1, .h1 {
  font-size: 2.61803rem;
}

.mega {
  font-size: 3.27254rem;
  line-height: 1;
}

.content-block {
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  h5, .h5 {
    font-size: 1rem;
  }
  h4, .h4 {
    font-size: 1.61803rem;
  }
  h3, .h3 {
    font-size: 2.02254rem;
  }
  h2, .h2 {
    font-size: 2.61803rem;
  }
  h1, .h1 {
    font-size: 3.27254rem;
  }
  .mega {
    font-size: 4.23607rem;
  }
}

@media only screen and (min-width: 1400px) {
  h5, .h5 {
    font-size: 1.25rem;
  }
  h4, .h4 {
    font-size: 1.61803rem;
  }
  h3, .h3 {
    font-size: 2.02254rem;
  }
  h2, .h2 {
    font-size: 2.61803rem;
  }
  h1, .h1 {
    font-size: 3.27254rem;
  }
  .mega {
    font-size: 5.29509rem;
  }
  .content-block {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1800px) {
  h5, .h5 {
    font-size: 1.25rem;
  }
  h4, .h4 {
    font-size: 2.02254rem;
  }
  h3, .h3 {
    font-size: 2.61803rem;
  }
  h2, .h2 {
    font-size: 3.27254rem;
  }
  h1, .h1 {
    font-size: 4.23607rem;
  }
  .mega {
    font-size: 6.8541rem;
    line-height: 0.9;
  }
}

/**
 * Links
 */
a {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  line-height: inherit;
  cursor: pointer;
  color: #bfbfbf;
  text-decoration: none;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.entry-content p a,
.entry-content .wp-block-image a {
  font-weight: 700;
  -webkit-box-shadow: inset 0 -2px 0 #cccccc;
          box-shadow: inset 0 -2px 0 #cccccc;
  padding-bottom: 4px;
}

.entry-content p a:hover, .entry-content p a:focus, .entry-content p a.active,
.entry-content .wp-block-image a:hover,
.entry-content .wp-block-image a:focus,
.entry-content .wp-block-image a.active {
  -webkit-box-shadow: inset 0 -3px 0 #999999;
          box-shadow: inset 0 -3px 0 #999999;
  color: #999999;
}

.entry-content ul a,
.entry-content ol a {
  font-weight: 700;
}

.entry-content ul a:hover, .entry-content ul a:focus, .entry-content ul a.active,
.entry-content ol a:hover,
.entry-content ol a:focus,
.entry-content ol a.active {
  color: #999999;
}

a img {
  border: 0;
}

/**
 * Paragraphs
 *
 */
p {
  margin: 0 0 1.25rem;
}

p.lead {
  font-size: 120%;
  font-weight: 700;
  line-height: 1.4;
}

/**
 * Titles
 */
.footer-widget-area .widget-title {
  text-transform: uppercase;
  display: block;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/**
 * Lists
 *
 * Unordered, Ordered, Definitions
 */
ul, ol {
  list-style-type: square;
  margin: 0 0 1rem 1.25rem;
  padding-left: 1.25rem;
}

dl {
  margin: 0 0 1.61803rem;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 1.25rem;
}

/**
 * Quotes
 */
blockquote {
  font-weight: 700;
}

cite {
  font-size: 0.77254rem;
  color: #999999;
  font-style: normal;
}

dfn,
em,
i {
  font-style: italic;
}

address {
  font-style: italic;
  margin: 0 0 1.25rem;
}

abbr, acronym {
  border-bottom: 1px dotted #999999;
  cursor: help;
}

hr {
  height: 1rem;
  margin: 6.8541rem 0;
  width: 60%;
  border: 0;
  background-color: #e6e6e6;
  border-radius: 5px;
}

/**
 * Monospaced stuff
 *
 */
code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
}

pre {
  border: 1px solid #999999;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 0 1.61803rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.61803rem;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ins,
mark {
  background: 0 0;
}

mark {
  font-weight: 700;
}

/**
 * Forms
 * ============================ */
form {
  margin-bottom: 1.25rem;
}

fieldset {
  margin: 0;
  margin-bottom: 1.25rem;
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  /* Addresses excess padding in IE8/9 */
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /**
     *  Corrects inner padding and border displayed oddly in FF3/4 
     *  www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
     */
  border: 0;
  padding: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0.61803rem 0;
  margin-bottom: 0.61803rem;
}

input[type="button"],
input[type="submit"] {
  display: inline-block;
  padding: 0.77254rem 1.25rem;
  border: 0px solid;
  color: #bfbfbf;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: #999999;
  color: white;
}

input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #999999;
}

input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #bfbfbf;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="time"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select,
.input-text {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-appearance: none;
  width: 100%;
  padding: 0.61803rem;
  margin-bottom: 1.25rem;
  outline: none;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  font-weight: normal;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
.input-text:focus {
  border: 2px solid #999999;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 0.5rem;
  background: #e6e6e6;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #bfbfbf;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #bfbfbf;
}

select {
  background-color: transparent;
}

select:not([multiple]) {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="rgb(115,122,150)"/></svg>');
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 2.5rem;
}

select.select--borderless {
  display: inline-block;
  border: 0px;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="rgb(10,214,160)"/></svg>');
  font-weight: 700;
  text-transform: uppercase;
  width: 10rem;
  padding-left: 0;
}

textarea {
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  overflow: auto;
  padding-left: 0.77254rem;
  /* Improves readability and alignment in all browsers */
  vertical-align: top;
  width: 100%;
}

label {
  font-weight: 700;
}

label.inline input {
  width: auto;
}

fieldset {
  padding: 0;
  border: 0;
  margin-bottom: 1.25rem;
}

fieldset legend {
  font-weight: 700;
}

/**
 * Radio + Checkbox replacement
 * =========================== */
.checkboxes__item:not(:last-of-type),
.radios__item:not(:last-of-type) {
  margin-bottom: 0.61803rem;
}

.checkboxes--inline .checkboxes__item {
  display: inline-block;
  margin-right: 1.25rem;
}

.radios--inline .radios__item {
  display: inline-block;
  margin-right: 1.25rem;
}

.checkboxes__item label,
.radios__item label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  vertical-align: middle;
}

.checkboxes__item input,
.radios__item input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  width: 1px;
  border: 0;
  word-wrap: normal !important;
}

.checkboxes__item label::before,
.radios__item label::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.61803rem;
  border: 2px solid #bfbfbf;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.checkboxes__item input[type="radio"]:checked + label::before,
.checkboxes__item input[type="checkbox"]:checked + label::before,
.radios__item input[type="radio"]:checked + label::before,
.radios__item input[type="checkbox"]:checked + label::before {
  border: 2px solid #999999;
}

.checkboxes__item label::before {
  border-radius: 5px;
}

.checkboxes__item input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0.65rem;
  left: 0.35rem;
  width: 1.35rem;
  height: 0.7rem;
  border: solid;
  background: transparent;
  border-width: 0 0 0.3rem 0.3rem;
  border-bottom-color: #bfbfbf;
  border-left-color: #bfbfbf;
  border-top-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.radios__item label::before {
  border-radius: 50%;
}

.radios__item input[type="radio"]:checked + label::after {
  position: absolute;
  top: 0.625rem;
  left: 0.5rem;
  border-radius: 50%;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #bfbfbf;
}

/**
 * Tables
 * ============================ */
table {
  border-spacing: 0;
  width: 100%;
  font-size: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

table p {
  margin-bottom: 0;
}

thead {
  border-bottom: 2px solid #bfbfbf;
}

thead th {
  padding-bottom: 1.25rem;
}

tfoot {
  border-top: 2px solid #bfbfbf;
}

tfoot td {
  padding-top: 1.25rem;
}

th {
  padding: 0.61803rem;
  text-align: left;
  vertical-align: top;
}

@media only screen and (min-width: 900px) {
  th {
    padding: 1.25rem 0;
    width: 20%;
  }
}

tr:not(:last-of-type) {
  border-bottom: 1px solid #bfbfbf;
}

td {
  padding: 0.61803rem 0;
  vertical-align: top;
}

@media only screen and (min-width: 900px) {
  td {
    padding: 1.25rem 0;
  }
}

/*
 * Buttons
 * ============================ */
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  display: inline-block;
  padding: 0.77254rem 1.25rem;
  border: 0px solid;
  color: #bfbfbf;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

input[type="button"]:hover, input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus {
  background-color: #999999;
}

input[type="button"].button--large,
input[type="reset"].button--large,
input[type="submit"].button--large,
.button.button--large {
  font-size: 1.25rem;
}

input[type="button"].button--xlarge,
input[type="reset"].button--xlarge,
input[type="submit"].button--xlarge,
.button.button--xlarge {
  font-size: 1.61803rem;
  padding: 1rem 1.61803rem;
}

input[type="button"].button--block,
input[type="reset"].button--block,
input[type="submit"].button--block,
.button.button--block {
  display: block;
}

input[type="button"].button--small,
input[type="reset"].button--small,
input[type="submit"].button--small,
.button.button--small {
  padding: 0.47746rem 0.77254rem;
  font-size: 0.77254rem;
}

input[type="button"].disabled, input[type="button"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="submit"].disabled,
input[type="submit"]:disabled,
.button.disabled,
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="button"].disabled:hover, input[type="button"]:disabled:hover,
input[type="reset"].disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"].disabled:hover,
input[type="submit"]:disabled:hover,
.button.disabled:hover,
.button:disabled:hover {
  opacity: 0.5;
}

/**
 * Utility classes
 * ============================ å*/
.button--white {
  color: white;
}

.has-white-color {
  color: white;
}

.has-white-background-color {
  background-color: white;
}

.button--grey {
  color: #bfbfbf;
}

.button--grey:hover, .button--grey:focus {
  color: #999999;
}

.has-grey-color {
  color: #bfbfbf;
}

.has-grey-background-color {
  background-color: #bfbfbf;
}

.has-grey-background-color.wp-block-button__link:hover, .has-grey-background-color.wp-block-button__link:focus {
  background-color: #999999;
}

.button--black {
  color: #bfbfbf;
}

.button--black:hover, .button--black:focus {
  color: #999999;
}

.has-black-color {
  color: #bfbfbf;
}

.has-black-background-color {
  background-color: #bfbfbf;
}

.has-black-background-color.wp-block-button__link:hover, .has-black-background-color.wp-block-button__link:focus {
  background-color: #999999;
}

/**
 * Spacing
 * ---------------------------------------------*/
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.padding-top--medium {
  padding-top: 1.61803rem !important;
}

.padding-top--large {
  padding-top: 2.61803rem !important;
}

.padding-bottom--medium {
  padding-bottom: 1.61803rem !important;
}

.padding-bottom--large {
  padding-bottom: 2.61803rem !important;
}

/**
 * Typography
 * ---------------------------------------------*/
.text--small {
  font-size: 80%;
}

.text--bold {
  font-weight: 700;
}

/**
 * Site Terms
 * ============================ */
.site-copyright {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.77254rem;
  text-align: center;
  font-size: 90%;
}

.site-copyright li {
  display: inline-block;
}

@media only screen and (min-width: 1200px) {
  .site-copyright {
    text-align: left;
  }
}

.site-copyright li:not(:last-of-type):after {
  content: '|';
  font-weight: bold;
  padding: 0 0.25rem;
}

.site-copyright li:last-of-type {
  margin-left: -3px;
}

/**
 * Site Social
 * ============================ */
.site-social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.site-social ul li {
  display: inline-block;
}

@media only screen and (min-width: 1200px) {
  .site-social ul {
    text-align: right;
  }
}

.site-social a {
  display: block;
  padding: 0.77254rem;
}

/**
 * Site Branding
 * ============================ */
.site-branding {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  z-index: 4;
}

.site-branding a {
  display: block;
  margin: 0 auto;
}

.site-branding svg {
  display: block;
  width: 100px;
  height: 100%;
}

/**
 * Site Search
 * ============================ */
.widget_search form input[type=submit] {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/**
 * Footer Bar
 * ============================ */
.footer-bar {
  clear: both;
  padding: 2.61803rem;
  font-size: 1.25rem;
}

.footer-bar::after {
  clear: both;
  content: "";
  display: block;
}

/**
 * Pagination
 * ============================ */
.pagination .page-numbers li {
  display: inline-block;
}

.pagination .page-numbers li .page-numbers {
  border-left-width: 0;
  display: inline-block;
  padding: 0.38197rem 0.77254rem;
  text-transform: uppercase;
  font-size: 0.77254rem;
}

/**
 * Comments
 * ============================ */
.comments-title {
  margin-bottom: 1.217391304em;
}

.comments-title, .comment-reply-title {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.3125;
  padding-top: 1.217391304em;
}

.comment-list, .comment-list .children {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment-list .children > li {
  padding-left: 1rem;
}

@media only screen and (min-width: 1200px) {
  .comment-list .children > li {
    padding-left: 1.61803rem;
  }
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  padding: 1.61803rem 0;
}

.site .avatar {
  border-radius: 50%;
}

.comment-author .avatar,
.author .avatar {
  float: left;
  height: 28px;
  margin-right: 0.875em;
  position: relative;
  width: 28px;
}

@media only screen and (min-width: 1200px) {
  .comment-author .avatar,
  .author .avatar {
    height: 42px;
    position: relative;
    top: 0.25em;
    width: 42px;
  }
}

.comment-metadata {
  margin-bottom: 1.61803rem;
}

.comment-metadata,
.pingback .edit-link {
  text-transform: uppercase;
  font-size: 0.77254rem;
}

.says {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/**
 * Main Navigation
 * ============================ */
.navigation--main {
  z-index: 3;
}

.navigation--main ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/**
 * Widgets
 * ============================ */
.widget-area .widget {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.widget-area .widget-title {
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.footer-widget-area {
  padding-top: 4.23607rem;
  padding-bottom: 1.61803rem;
}

@media only screen and (min-width: 600px) {
  .active-4 .footer-widget-area {
    width: calc(25% - 1.125rem);
    float: left;
    margin-left: 0.9rem;
  }
}

@media only screen and (min-width: 600px) {
  .active-3 .footer-widget-area {
    width: calc(33.33333% - 1.2rem);
    float: left;
    margin-left: 0.9rem;
  }
}

@media only screen and (min-width: 600px) {
  .active-2 .footer-widget-area {
    width: calc(50% - 1.35rem);
    float: left;
    margin-left: 0.9rem;
  }
}

/**
 * Header
 * ============================ */
/**
 * Footer
 * ============================ */
.site-footer {
  clear: both;
}

.site-bottom-bar {
  margin-top: 1.25rem;
}

.site-bottom-bar::after {
  clear: both;
  content: "";
  display: block;
}

/**
 * Containers
 * ============================ */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

body.js-nav-open {
  overflow: hidden;
}

.site {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}

.site-content,
.content-wrapper {
  margin-left: 1.61803rem;
  margin-right: 1.61803rem;
}

@media only screen and (min-width: 900px) {
  .site-content,
  .content-wrapper {
    margin-left: 1.61803rem;
    margin-right: 1.61803rem;
  }
}

@media only screen and (min-width: 1200px) {
  .site-content,
  .content-wrapper {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  .site-content::after,
  .content-wrapper::after {
    clear: both;
    content: "";
    display: block;
  }
  .site-content::after,
  .content-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
}

@media only screen and (min-width: 1400px) {
  .site-content,
  .content-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .site-content::after,
  .content-wrapper::after {
    clear: both;
    content: "";
    display: block;
  }
  .site-content::after,
  .content-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
}

@media only screen and (min-width: 1800px) {
  .site-content,
  .content-wrapper {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .site-content::after,
  .content-wrapper::after {
    clear: both;
    content: "";
    display: block;
  }
  .site-content::after,
  .content-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
}

.site-main {
  margin-bottom: 11.09017rem;
}

.site-content::after,
.site-main::after,
.content-area::after {
  clear: both;
  content: "";
  display: block;
}

/**
 * Default Page
 * ============================ */
/**
 * Default Post
 * ============================ */
.updated:not(.published) {
  display: none;
}

/**
 * Single Post
 * ============================ */
/**
 * Post Navigation
 * ============================ */
/**
 * Entry Meta
 * ============================ */

/*# sourceMappingURL=maps/style.css.map */
