/*
 * Buttons
 * ============================ */

input[type="button"],
input[type="reset"],
input[type="submit"],
.button {

    @include btn-base();

    &.button--large {
        font-size: ms(1);
    }

    &.button--xlarge {
        font-size: ms(2);
        padding: ms() ms(2);
    }

    &.button--block {
        display: block;
    }

    &.button--small {
        padding: ms(-3) ms(-1);
        font-size: ms(-1);
    }

    &.disabled,
    &:disabled {

        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }

    }

}