/**
 * Forms
 * ============================ */

form {

    margin-bottom: ms(1);

}

fieldset {
    margin: 0;
    margin-bottom: ms(1);
}

button,
input,
select,
textarea {

    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
    max-width: 100%;

}

input[type="checkbox"],
input[type="radio"] {

    /* Addresses excess padding in IE8/9 */
    padding: 0;

}

input[type="search"]::-webkit-search-decoration {

    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;

}

input[type="search"] {

    // Overrules normalize.css.
    box-sizing: border-box;

}

button::-moz-focus-inner,
input::-moz-focus-inner { 

    /**
     *  Corrects inner padding and border displayed oddly in FF3/4 
     *  www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
     */
    border: 0;
    padding: 0;

}

legend {

    display: block;
    width: 100%;
    padding: ms(-2) 0;
    margin-bottom: ms(-2);

}

input[type="button"],
input[type="submit"]  {
    @include btn-base();
    @include btn-solid( color( grey, dark ), color( white, base ), color( black, base ), color( white, base ) );
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="time"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select,
.input-text {

    transition: all $transition $duration;

    -webkit-appearance: none;

    width: 100%;
    padding: ms(-2);
    margin-bottom: ms(1);
    outline: none;
    border: 2px solid color( black, base );
    border-radius: $border-radius;
    font-weight: $body-normal-weight;

    &:focus {
        border: 2px solid color( grey, dark );
    }

}

input[type="range"] {
    
    width: 100%;
    appearance: none;
    height: 0.5rem;
    background: color(grey, light );
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;

    &::-webkit-slider-thumb {

        appearance: none;
        width: ms();
        height: ms();
        border-radius: 50%;
        background-color: color( black, base );
        cursor: pointer;
        transition: background .15s ease-in-out;

        &:hover {
          background: color( black, base );
        }

    }

}

select {

    background-color: transparent;

    &:not( [multiple] ) {
        background-image: url( 'data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="rgb(115,122,150)"/></svg>' );
        background-size: 2.5rem;
        background-repeat: no-repeat;
        background-position: right ms() center;
        padding-right: 2.5rem;
    }

    &.select--borderless {

        display: inline-block;
        border: 0px;
        background-image: url( 'data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="rgb(10,214,160)"/></svg>' );
        font-weight: $body-bold-weight;
        text-transform: uppercase;
        width: 10rem;
        padding-left: 0;

    }

}

textarea {

    /* Removes default vertical scrollbar in IE6/7/8/9 */
    overflow: auto;
    padding-left: ms(-1);

    /* Improves readability and alignment in all browsers */
    vertical-align: top;
    width: 100%;

}

label {

    font-weight: $body-bold-weight;

}

label.inline {

    input {
        width: auto;
    }

}

fieldset {

    padding: 0;
    border: 0;
    margin-bottom: ms(1);

    legend {
        font-weight: $body-bold-weight;
    }

}

/**
 * Radio + Checkbox replacement
 * =========================== */

.checkboxes,
.radios {

    &__item:not(:last-of-type) {
        margin-bottom: ms(-2);
    }

}

.checkboxes--inline {

    .checkboxes__item {
        display: inline-block;
        margin-right: ms(1);
    }

}

.radios--inline {

    .radios__item {
        display: inline-block;
        margin-right: ms(1);
    }

}

.checkboxes__item,
.radios__item {

    label {

        position: relative;
        display: inline-block;
        cursor: pointer;
        font-weight: $body-normal-weight;
        vertical-align: middle;

    }

    input {

        position: absolute;

        clip: rect( 1px, 1px, 1px, 1px );
        clip-path: inset( 50% );
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        width: 1px;

        border: 0;

        word-wrap: normal !important;

    }

    label::before {

        content:'';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-right: ms(-2);

        border: 2px solid color( black, base );
        vertical-align: middle;

        transition: all 0.2s ease-in-out;

    }

    input[type="radio"]:checked + label::before,
    input[type="checkbox"]:checked + label::before {
        border: 2px solid color( grey, dark );
    }


}

// Layout: The position of the element in space. Eg.: position, top, z-index.
// Box: The element itself. Eg.: display, overflow, box-sizing.
// Visual: Design of the element. Eg.: color, border, background.
// Type: Typesetting of the element. Eg.: font-family, text-transform.
.checkboxes__item {

    label::before {
        border-radius: $border-radius;
    }

    input[type="checkbox"]:checked + label::after {

        content: "";

        position: absolute;

        top: 0.65rem;
        left: 0.35rem;

        width: 1.35rem;
        height: 0.7rem;
        border: solid;

        background: transparent;

        border-width: 0 0 0.3rem 0.3rem;
        border-bottom-color: color( black, base );
        border-left-color: color( black, base );
        border-top-color: transparent;

        transform: rotate(-45deg);

    }

}

.radios__item {

    label::before {
        border-radius: 50%;
    }

    input[type="radio"]:checked + label::after {

        position: absolute;
        top: 0.625rem;
        left: 0.5rem;

        border-radius: 50%;
        content: "";

        width: 1rem;
        height: 1rem;

        background: color( black, base );

    }

}