/**
 * Typography
 * ============================ */

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td, fieldset {
    margin: 0;
    padding: 0;
}

body {

    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

::-moz-selection {

    background: color( black, base );
    color: color( white, base );

}

::selection {

    background: color( black, base );
    color: color( white, base );

}

/**
 * Body font styles
 */
body,
button,
input,
select,
textarea {

    font-family: $body-font;
    font-weight: $body-normal-weight;
    line-height: 1.618;

    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

button,
input,
select,
textarea {

    font-size: 100%;
    margin: 0;
    vertical-align: baseline;

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6, .mega {

    margin-top: 0;
    margin-bottom: ms(-1);
    font-family: $header-font;
    font-weight: $header-bold-weight;
    line-height: 1.4;

}

b,
strong {
    font-weight: $body-bold-weight;
}

/**
 * Font Sizing
 */
body { font-size: ms(0); }

    h5, .h5 { font-size: ms(0); }
    h4, .h4 { font-size: ms(1); }
    h3, .h3 { font-size: ms(2); }
    h2, .h2 { font-size: ms(3); }
    h1, .h1 { font-size: ms(4); }

    .mega   { 
        font-size: ms(5);
        line-height: 1;
    }

    .content-block { font-size: ms(); }

@include grid-media( $tablet-portrait-up ) {

    h5, .h5 { font-size: ms(0); }
    h4, .h4 { font-size: ms(2); }
    h3, .h3 { font-size: ms(3); }
    h2, .h2 { font-size: ms(4); }
    h1, .h1 { font-size: ms(5); }
    .mega   { font-size: ms(6); }

}
@include grid-media( $desktop-up ) {

    h5, .h5 { font-size: ms(1); }
    h4, .h4 { font-size: ms(2); }
    h3, .h3 { font-size: ms(3); }
    h2, .h2 { font-size: ms(4); }
    h1, .h1 { font-size: ms(5); }
    .mega   { font-size: ms(7); }
    .content-block { font-size: ms(1); }

}

@include grid-media( $big-desktop-up ) {

    h5, .h5 { font-size: ms(1); }
    h4, .h4 { font-size: ms(3); }
    h3, .h3 { font-size: ms(4); }
    h2, .h2 { font-size: ms(5); }
    h1, .h1 { font-size: ms(6); }
    
    .mega   { 
        font-size: ms(8);
        line-height: 0.9; 
    }

}

/**
 * Links
 */
a {

    transition: all $transition $duration;
    line-height: inherit;
    cursor: pointer;
    color: color( black, base );
    text-decoration: none;
    transition: 0.15s ease-in-out;

    &:hover,
    &:focus,
    &.active {

    }

    .entry-content p &,
    .entry-content .wp-block-image & {

        font-weight: $body-bold-weight;
        box-shadow: inset 0 -2px 0 darken( color( grey, light ), 10% );
        padding-bottom: 4px;

        &:hover,
        &:focus,
        &.active {

            box-shadow: inset 0 -3px 0 color( grey, dark);
            color: color( grey, dark );

        }

    }

    .entry-content ul &,
    .entry-content ol & {
        font-weight: $body-bold-weight;

        &:hover,
        &:focus,
        &.active {

            color: color( grey, dark );

        }

    }

    img {

      border: 0;

    }

}


/**
 * Paragraphs
 *
 */
p {

    margin: 0 0 ms(1);

    &.lead {
        font-size: 120%;
        font-weight: $body-bold-weight;
        line-height: 1.4;
    }

}

/**
 * Titles
 */
.entry-title a {

}

.widget-title {

    .footer-widget-area & {

        @include heading;

        display: block;
        padding-bottom: ms(0);
        margin-bottom: ms(0);

    }

}

/**
 * Lists
 *
 * Unordered, Ordered, Definitions
 */
ul, ol {

    list-style-type: square;
    margin: 0 0 ms(0) ms(1);
    padding-left: ms(1);

    // li {
    //     margin-bottom: ms(-2);
    // }

}


dl {
    margin: 0 0 ms(2);
}

dt {
    font-weight: $body-bold-weight;
}

dd {
    margin: 0 0 ms(1);
}


/**
 * Quotes
 */
blockquote {

    font-weight: $body-bold-weight;

}

cite {

    font-size: ms(-1);
    color: color( grey, dark );
    font-style: normal;

}

dfn,
em,
i {
    font-style: italic;
}

address {
    font-style: italic;
    margin: 0 0 ms(1);
}

abbr, acronym {
    border-bottom: 1px dotted color( grey, dark );
    cursor: help;
}

hr {
    height: ms();
    margin: ms(8) 0;
    width: 60%;
    border: 0;
    background-color: color( grey, light );
    border-radius: $border-radius;

}

/**
 * Monospaced stuff
 *
 */
code,
kbd,
tt,
var,
samp,
pre {
    font-family: Inconsolata, monospace;
}

pre {

    border: 1px solid color( grey, dark );
    font-size: ms(0);
    line-height: ms(1);
    margin: 0 0 ms(2);
    max-width: 100%;
    overflow: auto;
    padding: ms(2);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;

}

ins,
mark {

    background: 0 0;

}

mark {

    font-weight: $body-bold-weight;

}