/**
 * Utility classes
 * ============================ å*/

@each $color, $value in $palette {

    $shade: map-get( $value, base );

    .button--#{$color} {
        color: $shade;

        &:hover,
        &:focus {
            color: map-get( $value, dark );
        }
    }

    .has-#{$color}-color {
        color: $shade;
    }

    .has-#{$color}-background-color {
        background-color: $shade;

        &.wp-block-button__link {

            &:hover,
            &:focus {
                background-color: map-get( $value, dark );
            }

        }

    }

}

/**
 * Spacing
 * ---------------------------------------------*/

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.padding-top--medium {
    padding-top: ms(2) !important;
}

.padding-top--large {
    padding-top: ms(4) !important;
}

.padding-bottom--medium {
    padding-bottom: ms(2) !important;
}

.padding-bottom--large {
    padding-bottom: ms(4) !important;
}

/**
 * Typography
 * ---------------------------------------------*/
 
.text--small {
	font-size: 80%;
}

.text--bold {
	font-weight: $body-bold-weight;
}