/**
 * Grid Settings
 * ============================ */

// Grid settings
$column: modular-scale(3, 1rem, $golden);
$gutter: modular-scale(1, 1rem, $golden);
$grid-columns: 12;
$max-width: 1300px;

// Sizes for media queries
$small:       600px;
$medium:      900px;
$large:      1200px;
$xlarge:     1400px;
$xxlarge:    1600px;

$phone:    		        ( columns: 4,  gutter: 0.9rem, media: 'only screen and (max-width: 599px)' );
$tablet-portrait-up:    ( columns: 12, gutter: 0.9rem, media: 600px );
$tablet-landscape-down: ( columns: 12, gutter: 0.9rem, media: 'only screen and (max-width: 899px)' );
$tablet-landscape-up:   ( columns: 12, gutter: 1rem, media: 900px );
$laptop-up:     	    ( columns: 12, gutter: 1rem, media: 1200px );
$desktop-up:    	    ( columns: 12, gutter: 1rem, media: 1400px );
$big-desktop-up:	    ( columns: 16, gutter: 1.618rem, media: 1800px );

// Modular Scale
$ms-base:  1rem 1.25rem;
$ms-ratio:      $golden;

//ms(0);   1.000rem - $ms-base
//ms(1);   1.618rem
//ms(2);   2.618rem
//ms(3);   4.236rem
//ms(4);   6.854rem
//ms(5);  11.090rem