/**
 * Authored Mixins
 * ============================ */

@mixin clearfix() {

  &::after {
    clear: both;
    content: "";
    display: block;
  }

}

@mixin outer-container( $local-max-width: $max-width ) {

    @include clearfix;

    max-width: $local-max-width;
    margin: {
        left: auto;
        right: auto;
    }

    &::after {
        clear: both;
        content: "";
        display: table;
    }

}

@mixin content-container() {

    @include grid-media( $laptop-up ) {

        @include outer-container( 1160px );

    }

    @include grid-media( $desktop-up ) {

        @include outer-container( 1300px );

    }

    @include grid-media( $big-desktop-up ) {

        @include outer-container( $xlarge );

    }

}

// Remove margins and bullets/numbers on lists.
@mixin unstyled-list( $inline: false ) {

    margin: 0;
    padding: 0;
    list-style-type: none;

    @if ( $inline ) {
        li {
            display: inline-block;
        }
    }

}

// Horizontal centre
@mixin auto-margin {
 
    margin: { 
        left: auto;
        right: auto;
    }

}

// Hide text, but make sure it can be read still by screen readers.
@mixin screen-reader-text {

    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

}

// Magical full-width containers inside grid containers
@mixin pushout-columns {

    clear: both;
    margin-left: -( ms(2) );
    margin-right: -( ms(2) );
    padding-left: ms(2);
    padding-right: ms(2);

    @include grid-media( $laptop-up ) {

        margin-left: -99rem;
        margin-right: -99rem;
        padding-left: 99rem;
        padding-right: 99rem;

    }

}

// Button mixin
@mixin btn-base() {

    display: inline-block; 
    padding: ms(-1) ms(1);
    border: 0px solid;
    color: color( black, base );
    box-shadow: initial;
    transition: all 0.2s;
    border-radius: $border-radius-small;

    font: {
        size: ms();
        family: $body-font;
        weight: $body-bold-weight;
    }
    
    text: {
        align: center;
        transform: uppercase;
        decoration: none;
    }

    cursor:pointer;

    &:hover,
    &:focus {
        background-color: color( grey, dark );
    }

}

@mixin btn-solid( $bg-color, $text-color, $bg-hover:  color( white, base ), $text-hover: $text-color ) {
    background-color: $bg-color;
    color: $text-color;

    &:hover,
    &:focus {
        background-color: $bg-hover;
        color: $text-hover;
    }

}

@mixin btn-hollow( $color, $bg-hover: $color ) {
    color: $color;
    background-color: transparent;
    border: 2px solid;

    &:hover,
    &:focus {
        background-color: $bg-hover;
        color: color( white, base );
        border-color: $bg-hover;
    }

}

@mixin heading() {

    text-transform: uppercase;

}

// Subheadings
@mixin subheading() {

    text-transform: uppercase;
    font-size: ms(-1);

}

@mixin bg-image() {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@mixin flex-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start; // stretch for equal heights
    align-content: center;
    box-sizing: border-box;

}