/**
 * Variables
 * ============================ */

// Colors
// $palette: (
// 	white:        hsl( 0,   100%, 100% ),
// 	black:        hsl( 0,   0%,   25%  ),
// 	blue:         hsl( 217, 89%,  61%  ),
// 	success:      hsl( 122, 39%,  49%  ),
// 	error:        hsl( 4,   90%,  58%  ),
// 	info:         hsl( 45,  100%, 51%  )
// );

// Alternatively, layout palette in nested form
// 
// See _functions.scss for color function to 
// retrieve these values
// 
$palette: (
    white: (
        base:   hsl( 0, 0%, 100% ),
    ),
    grey: (
        base:   hsl( 0, 0%, 75% ),
        light:  hsl( 0, 0%, 90% ),
    	dark:   hsl( 0, 0%, 60% )
    ),
    black: (
        base:   hsl( 0, 0%, 75% ),
        light:  hsl( 0, 0%, 90% ),
    	dark:   hsl( 0, 0%, 60% )
    )
);

// Links
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

// Typography
$body-font: sans-serif;
$header-font: sans-serif;
$body-bold-weight: 700;
$body-normal-weight: normal;
$header-bold-weight: 700;
$header-normal-weight: 400;

// Transitions
$transition: ease-in-out;
$duration  : 0.2s;
$delay     : 0.2s; 

// Z indices 
$z-elements: off-canvas, site, menus, overlay, modals;

// Buttons
$button-background:       color( black, base );
$button-background-hover: color( black, dark );
$button-color:            color( white, base );
$border-radius:           5px;
$border-radius-small:     3px;