/**
 * Widgets
 * ============================ */

.widget-area {

    .widget {

        margin-bottom: ms(0);
        padding-bottom: ms(0);

    }

    .widget-title {

        display: block;
        font-weight: $header-bold-weight;
        margin-bottom: ms(0);
        font-size: ms(1);
        line-height: ms(1);

    }

}

.footer-widget-area {

    padding-top: ms( 6 );
    padding-bottom: ms( 2 );

    // Classes are dynamically added server side 
    // depending on which widget
    // areas are active.
    .active-4 & {
        @include grid-media( $tablet-portrait-up ) {
            @include grid-column( 3 );
        }
    }

    .active-3 & {
        @include grid-media( $tablet-portrait-up ) {
            @include grid-column( 4 );
        }
    }

    .active-2 & {
        @include grid-media( $tablet-portrait-up ) {
            @include grid-column( 6 );
        }
    }

    .active-1 & {
    }

    // end
    &:last-of-type {


    }

}