/**
 * Containers
 * ============================ */

*, *:after, *:before {

    box-sizing: border-box;

}

body {
    background-color: color( white, base );

    &.js-nav-open {
        overflow: hidden;
    }

}

.site {

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;

}

.site-content,
.content-wrapper {

    margin-left: ms(2);
    margin-right: ms(2);

    @include grid-media( $tablet-landscape-up ) {

        margin-left: ms(2);
        margin-right: ms(2);

    }

    @include grid-media( $laptop-up ) {

        @include outer-container( 1160px );

    }

    @include grid-media( $desktop-up ) {

        @include outer-container( 1300px );

    }

    @include grid-media( $big-desktop-up ) {

        @include outer-container( $xlarge );

    }

}

.site-main {

    margin-bottom: ms(10);

}

.site-content,
.site-main,
.content-area {

    @include clearfix;

}