/**
 * Footer
 * ============================ */

.site-footer {

    clear: both;

}

.site-bottom-bar {

    @include clearfix();

    margin-top: ms( 1 );

}


.site-terms,
.site-social {

}

.site-terms {

}

.site-social {


}