/** 
 *  Cover block
 */

.wp-block-cover {

    min-height: 80vh;
    text-align: center;

    .wp-block-cover__inner-container {
    	text-align: center;
    }

    .wp-block-cover-image .wp-block-cover-image-text, 
    .wp-block-cover-image .wp-block-cover-text,
    .wp-block-cover-image h2,
    .wp-block-cover-image-text,
    .wp-block-cover-text,
    h2 {
    	margin-left: auto;
    	margin-right: auto;
    }

    .wp-block-cover__inner-container {
        width: 100%;
        margin: ms(2) auto;
    }

}

@include grid-media( $tablet-portrait-up ) {

    .wp-block-cover {

        .wp-block-cover__inner-container {
            width: 90%;
            margin: ms(2) auto;
        }

    }

}

@include grid-media( $tablet-landscape-up ) {

    .wp-block-cover {

        .wp-block-cover__inner-container {
            width: 65%;
            margin: ms(3) auto ms(2);
        }

    }

}

@include grid-media( $big-desktop-up ) {

    .wp-block-cover {

        .wp-block-cover__inner-container {
            width: 60%;
            margin: ms(6) auto ms(4);
        }

    }

}