.wp-block-group {

    padding: ms(4);

    &__inner-container {
        
        @include content-container;
        
        margin-left: ms(2);
        margin-right: ms(2);

    }

    &:not(.alignfull) {
        border-radius: $border-radius;
    }

}

.wp-block-group__inner-container > * {
    width: 100%;
    margin: ms(2) auto;
}

.wp-block-group__inner-container > .alignfull {

    margin-left: - ms(2);
    margin-right: - ms(2);
    max-width: 100vw;
    width: 100vw;

}

.wp-block-group__inner-container > .alignwide {

    width: 100%;

}

@include grid-media( $tablet-portrait-up ) {

    .wp-block-group__inner-container > * {
        width: 90%;
        margin: ms(2) auto;
    }

    .wp-block-group__inner-container > .alignwide {
        width: 100%;
        max-width: 100%;
    }

    .wp-block-group__inner-container > .alignfull {

        margin-left: calc( -100vw / 2 + 100% / 2);
        margin-right: calc( -100vw / 2 + 100% / 2);
        max-width: 100vw;
        width: 100vw;

    }

}

@include grid-media( $tablet-landscape-up ) {

    .wp-block-group__inner-container > * {
        width: 65%;
        margin: ms(3) auto ms(2);
    }


}

@include grid-media( $big-desktop-up ) {

    .wp-block-group__inner-container > * {
        width: 60%;
        margin: ms(4) auto ms(3);
    }

}