.wp-block-image {

    figcaption {

		display: block;    	
    	
    	font-weight: $body-bold-weight;
    	color: color( grey, dark );

    	margin: 0;
    	padding: ms() ms(1);
    	font-size: ms();
    	text-align: center;

    }

}