.wp-block-table {
	
	&.is-style-stripes,
	&.alignfull {

		td,
		th {
			padding: ms();
		}

	}

	&.is-style-stripes {
	
		tbody tr:nth-child(odd) {
			background-color: color( grey, light );
		}

	}

}